/*reseat*/
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Menu Principal*/
.menu {			
    margin: 50px auto;
    width: fit-content;	
}

.menu > li {
    background: #205543;
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}	

.menu li:hover {
    background: #e74c3c;
}	

.menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

/*submenu*/
.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 220px;
    width: 15vw;
    overflow: hidden;
    left: -75%;
    transform: skewX(-25deg);
    align-items: center;
    visibility: hidden;


}
.submenu > li{
    background-color: #205543;
    width: 75%;
    transition: .7s ease;
}
.submenu > li > a{
    display: block;
    padding: 1em 2em;
}

/*odd*/
.submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(15vw);
}.submenu > li:nth-child(odd) a{
    transform: skewX(25deg);
}


/*even*/
.submenu > li:nth-child(even){
    transform: skewX(25deg) translateX(-15vw);
}
.submenu > li:nth-child(even) a{
    transform: skewX(-25deg);
}

/*hover*/
.menu li:hover .submenu{
    visibility: visible;
}
.menu li:hover .submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(-1vw);
}
.menu li:hover .submenu > li:nth-child(even){
    transform:  skewX(25deg) translateX(1vw);
}